/* RESPONSIVE */

/* OCULTO: menu hamburguesa y nav mobile */
.nav__mobile-btn{
    display: none;
}

.nav-list-mobile{
    display: none;
}






@media (max-width: 957px){

    /* HEADER: LOGO */
    .navbarLogo{ 
        width: 18%; 
        margin-bottom: 0.4rem;
    }
    .logo-icon{ 
        font-size: 1.8rem; 
        vertical-align: 0.1rem; 
    }
    .logo-name{ 
        font-size: 2.8rem; 
    }
    

    /* HEADER: NAVBAR ESCRITORIO*/
    .navbar-nav{ padding-left: 0; }
    .nav-item{ margin: 0 0.5rem; } 

    .nav-link, .search-link{ 
        font-size: 1.5rem; 
        &#login{ 
            font-size: 1.8rem; 
            margin-top: 0.3rem;
        } 
    }
    .search-link{
        margin-right: -0.2rem;
    }

    .search-input{
        height: 3rem;
        font-size: 1.5rem;
    }

    .search-btn .fa-solid{  
        font-size: 1.8rem;
    } 
   

    /* MAIN: HERO */
    .hero-title{
        font-size: 4.7rem ; 
        padding-top: 7rem;
    }

    .hero-title .logo-icon{
        font-size: 3.3rem;
    }


    /* MAIN: PELICULAS --> CATALOGO */
    .carrousel-header{
        margin-bottom: 2rem;
        margin-left: 0.5rem;
    }
    .peliculas-list,
    .personajes-list{
        justify-content: space-between;
        gap: 1rem;
    }

    .peliculas-item,
    .aclamadas-item{
        width: 18.5rem; 
        height: 26.4rem;    
    }
    .personajes-item{
        width: 18.5rem; 
        height: 18.5rem;
    }


    /* FOOTER */

    .footer-container{
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .footer-item{
        margin: 0; /* distancia entre items */
    }
    .footer-link{
        font-size: 1.45rem;
    }

}





@media (max-width: 775px){

    /* HEADER  NAVBAR */
    .header{
        width: 100%;
        padding: 1rem 2rem; /* de horizontal 3rem a 1rem */ 
        height: 15vh; /*altura del header fijo*/
        display: flex; /*para centrar caja */
    }

    .navbar{
        width: 100%;
        flex-direction: column; 
        justify-content: center;
    }


    /* HEADER: LOGO */
    .navbarLogo{ 
        width: fit-content; 
    }


    /* HEADER: MENÚ */
    .nav-list{
        display: none; /* oculta el menu normal */
    }

    .nav__mobile-btn{
        position: relative; /*para hacer el subrayado con absolute */
        display: flex; /* muestro el boton hamburguesa */
        
    }

    .navbar-nav{
        width: 100%;
        position: relative;
    }

    /* HEADER: MENÚ MOVIL */
    .nav-list-mobile{
        display: none; /*inicialmente oculto. luego lo muestro con Javascript */
        position: absolute; 
        z-index: 99; /*encima de todos los elementos */

        top: 116% ; 
        width: 17rem;
        padding: 1.5rem;
        padding-bottom: 0.5rem;
        margin-left: -2rem; /* porque el header tiene padding horizontal de 2rem */
        background-color: rgba(245, 245, 245, 0.737);
    }

    .nav-item-mobile{
        position: relative;
        width: 100%;
        padding: 0.5rem 2rem; /*vertical: distancia entre items    horizontal */
        border-bottom: 1px solid rgba(128, 128, 128, 0.664);
    }
    
    .nav-item-mobile:last-child {
        border-bottom: none; /*le quito el borde al ultimo elemento */
    }

    .nav-item-mobile:hover {
        box-shadow: 0px 0px 10px rgb(89,29,200,0.2) ;
    }

    .nav-link-mobile{
        display: block;
        width: 85%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: black;
    }



    /* MAIN: HERO */
    .hero{
        height: 85vh;
    }

    .hero-title{
        font-size: 3.8rem ;
        padding-top: 5rem;
    }

    .hero-btn1,
    .hero-btn2,
    .login-btn,
    .signin-btn{
        margin-top: 1rem;
        padding: 1.1rem 2.3rem;
        font-size: 1.8rem;
    }   


    /* MAIN: PELICULAS & SERIES*/
    .peliculas-title,
    .aclamadas-title{
        font-size: 3rem;
    }

    .aclamadas-list{
        align-items: center;
    }

    .aclamadas-item{
        width: 13rem;
        height: 19rem;
    }

    .peliculas-list,
    .personajes-list{
        justify-content: center;
        gap: 4rem;
    }

    .peliculas-item{
        width: 20rem; 
        height: 29rem; 
        margin-bottom: -1.8rem;   
    }

    .personajes-item{
        width: 20rem; 
        height: 20rem;
        margin-bottom: -1.8rem; 
    }

    .peliculas-coleccion, .series-coleccion{
        background-position: 55% center;  
    }


    /* FOOTER */
    .footer{
        height: auto;
        padding: 2rem;
        padding-bottom: 1.5rem;
    }

    .footer-container{
        flex-direction: column;
        justify-content: center;
    }

    .footer-list{
        gap: 0.1rem;
    }

    .footer-link{
        padding: 0.6rem 0.9rem;
        &#administrador{
            margin-left: 0;
        }   
    }

    /* REGISTRO y LOGIN*/
    .signin-container,
    .login-container{
        width: 55rem;
        height: fit-content;
    }
    
    .signin-form,
    .login-form{
        width: 90%;
    }

    .login-form input:not(.check, .login-btn),
    .login-remember,
    .error-message{  
        width: 25rem;
    }

    .signin-form input:not(.check, .signin-btn),
    .signin-form select, .input-container{
        width:21rem;
    }

    .error-msg{
        width: 24rem;
    }


    .character-info-card{
        height: fit-content;
    }
    .character-info-card .character-details {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
}




@media (max-width: 615px){
    
    /* HEADER NAVBAR */
    .header,
    .header-login,
    .header-signin{
        padding: 1rem 1.2rem; 
    }

    .nav-list-mobile{
        width: 16rem;
    }


    /* MAIN HERO */
    .hero{
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;

        padding: 0 3%;
        padding-bottom: 3rem; 
        background-position: 30% center;
    }


    .hero-title{
        width: 100%;
        text-align: center;
        font-size: 3.5rem ;    
    }

    .hero-btn-container{
        justify-content: center;
        padding-bottom: 3.5rem; 
    }

    .hero-btn1, .hero-btn2{
        font-size: 1.4rem;
    }

    

    /* MAIN: Peliculas & Series*/
    .peliculas,
    .aclamadas{
        margin: 4rem 5%;
    }

    .peliculas-title,
    .aclamadas-title{
        font-size: 2.9rem;
    }
    .peliculas-list,
    .personajes-list{
        flex-direction: column;
        align-items: center;
        gap: 6rem;
    }

    .peliculas-item{
        width: 27rem;
        height: auto; 
    }
    .personajes-item{
        width: 27rem; 
        height: 27rem;
    }


    /* FOOTER */
    .footer-list{
        flex-wrap: wrap;
        gap: 1rem;
        text-align: center;
    }


    /* PAGES: LOGIN & SIGNIN */
    .login-container,
    .signin-container{
        width: 80%;
        margin: 8rem auto 6rem;
    }

    .login-form,
    .signin-form{
        padding: 1rem 0 3rem;
    }
    .signin-form{
        gap: 2.5rem;
    }

    form h2{ font-size: 2.5rem; } 

    .login-form input:not(.check, .login-btn),
    .login-remember, .error-message{  
        width: 22rem;
    }

    #signup-error{
        width: 21rem;
        margin: 0 auto;
    }

    .signin-form input:not(.check, .signin-btn),
    .signin-form select, .input-container{
        width:21rem;
    }
    .input-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .error-msg, .error-txt{
        width: 21rem;
        margin-left: 3rem;
    }

    .signin-legal{
        margin-top: 1rem;
    }
    
}



@media (max-width: 350px){
    
    /* MAIN HERO */
    .hero{
        background-position: -20rem 0;
    }
    .hero-title{
        font-size: 2.9rem ;    
    }

    .hero-btn-container{
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0rem; 
        gap: 0.5rem;
    }

    .hero-btn1, .hero-btn2{
        font-size: 1.4rem;
    }



     /* MAIN: Peliculas & Series*/
    .peliculas,
    .aclamadas{
        margin: 4rem 5%;
    } 
 
    .eliculas-title,
    .aclamadas-title{
        text-align: center;
        font-size: 2.9rem;  
    }

    .peliculas-list,
    .personajes-list{
         flex-direction: column;
         align-items: center;
         gap: 6rem;
    }
 
    .peliculas-item{
        width: 27rem;
        height: auto; 
    }
    .personajes-item{
        width: 27rem; 
        height: auto;
    }


      /* PAGES: REGISTRO y LOGIN */
    .signin-container, .login-container{
        width: 28rem;
        height: fit-content;
    } 
    
    .login-form input:not(.check, .login-btn),
    .signin-form input:not(.check, .signin-btn),
    .signin-form select{  
        width: 19rem;
    }

    /* .login-remember{
        width: 18rem;
    } */

    .login-form input:not(.check, .login-btn),
    .signin-form input:not(.check, .signin-btn),
    .signin-form select, .login-remember,
    .error-message{  
        width: 18rem;
    }

    .error-msg, .error-txt{
        width: 18rem;
    }

    #signup-error{
        width: 18rem;
        margin: 0 auto;
    }
} 