/* DEFINICIÓN DE VARIABLES */
:root{
    --color-primary:rgb(83, 50, 212, 0.7); 
    --color-secondary: #fff;
    --color-blue: rgb(89, 29, 200);
    --color-gradient: linear-gradient(to right, rgb(11, 203, 254), rgb(64, 123, 254), rgb(89, 29, 200));
    --color-background: #181419;   
    --color-input: #333333;
    --color-search: rgba(120, 152, 240, 0.375);
}



/* ESTILOS GENERALES */
html{
    font-size: 10px; /*1rem = 10px */
}

body{
    width: 100%;
    height: 100%;

    font-size: 1.6rem; 
    font-weight: 400;
    line-height: 1.5;
    font-family: 'DM Sans', sans-serif;

    color: var(--color-secondary);
    background-color: var(--color-background);    
}





/* --- HEADER --- */

.header,
.header-login,
.header-signin{
    position: fixed;
    z-index: 10; 
    width: 100%; 
    padding: 1rem 3rem;   
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
    transition: background-color 0.5s ease;
}

.header.scrolled {
    background-color: black; /* Cambia el color de fondo a negro al hacer scroll*/
  }

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



/* HEADER --> LOGO */
.navbarLogo{
    width: 14%;
    padding-left:2%; 
}

.logo-icon{
    font-size: 2.2rem;
    vertical-align: 0.1rem; 
}
.logo-name{
    font-size: 2.8rem;
    font-weight: bolder;
}

.logo-icon,
.logo-name{
    background: linear-gradient(to right, rgb(11, 203, 254), rgb(64, 123, 254), rgb(89, 29, 200));
    -webkit-background-clip: text; /* (Safari, Chrome) */
    background-clip: text;
    color: transparent; /*txt transparente para que se vea el degradado de fondo*/
}


/* HEADER --> NAV */
.navbar-nav{
    position: relative; 
    width: 90%;
    padding-left: 2%;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.nav-list, .nav-list2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item{
    margin: 0 1rem; 
} 

.nav-link, .search-link{ 
    position: relative;  
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0.9rem 1.1rem;
    border-radius: 5px;
    transition:  all 250ms ease-in-out;  
    
    &#login{
        padding: 0.8rem 1.9rem;
        font-size: 2rem; 
    } 
    &#search{
        padding: 1.2rem 1.9rem;   
    } 
}

.nav-item:hover .nav-link,
.nav__mobile-btn:hover .mobile-btn-link,
.nav-item-search:hover .search-link{  
    box-shadow: 0px 0px 10px rgb(89,29,200,0.2) , 0px 0px 5px rgba(255, 255, 255, 0.3);
}

/* subrayado al hacer hover */
.nav-link::before, .nav-link-mobile::before, .mobile-btn-link::before,
.search-link::before, .signin-btn::before, .signin-help:hover,
.hero-btn1::before, .hero-btn2::before, 
.coleccion-btn::before, .peliculas-btn::before{
    content: "";
    height: 0.2rem;
    width: 0; /* al inicio 0 de ancho */
    background-color: var(--color-blue);

    position: absolute; /*posiconarlo segun su padre nav-item que es relative */
    bottom: 0; /* la línea está 1.2rem encima del bottom (tener en cuenta el line-height para saber dónde empieza el bottom) */
    left: 0;
    opacity: 0;

    transition: 600ms; /*al hacer hover se ve el cambio */
}

.nav-link:hover:before, .search-link:hover:before,
.nav-link-mobile:hover:before, .mobile-btn-link:hover:before,
.hero-btn1:hover:before, .hero-btn2:hover:before,
.signin-btn:hover:before, .login-btn:hover:before,
.coleccion-btn:hover::before, .peliculas-btn:hover:before{
    width: 100%;
    opacity: 1;
}



/* BUSCADOR */
.nav-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.search-input{
    width: 0rem; 
    height: 4rem;
    
    font-size: 1.6rem;
    color: rgb(217, 217, 217); 
    background-color: rgba(120, 152, 240, 0.375);

    border: 1px solid rgba(255, 255, 255, 0.048);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.5);
    outline: none;
    transition: all 200ms ease-out;
}

.search-input::placeholder{
    color: rgb(217, 217, 217); /*color "Buscar"*/
    text-transform: capitalize;
    padding: 0 .5rem;
}

.search-btn .fa-solid{
    cursor: pointer;  
    font-size: 2.1rem;
    color: transparent;
    background: radial-gradient(circle, rgb(255, 255, 255), rgba(255, 255, 255, 0.7));
    background-clip: text;
    -webkit-background-clip: text;
  
    display: flex; /*para centrar verticalmente el icono lupa */
    align-items: center;
} 


/* -- MENÚ MÓVIL -- */
/* ESTILO --> menú hamburguesa */
.nav__mobile-btn{
    background-color: transparent;
    padding: 0.8rem 1.3rem;
    height: 5rem; 
  
    display: flex;
    align-items: center;
}

.nav__mobile-btn .fa-solid{
    cursor: pointer;  
    color: var(--color-secondary);
    font-size: 1.8rem;
}







/* ---  MAIN --- */


/* (1) HERO */

.hero{
    /*position: relative; para posicionar facilmente los subelementos contenidos con absolute */
    width: 100%;
    height: 100vh ;
    padding: 0 0 10% 10%;
    
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.747) , transparent), url("../assets/img/hero1.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-end; 
    gap: 2rem;
}

.hero-title{
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 1.4;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
    background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.3), transparent 60%);
} 

.hero-title:hover{
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.55), 1px 1px 10px rgba(159, 54, 72, 0.4);
} 

.hero-title .logo-icon{
    font-size: 2.9rem;
    color: rgba(255, 255, 255);
    opacity: 0.7;
} 

.hero-btn-container{
    display: flex;
    gap: 2rem;
}
.hero-btn1, .hero-btn2, 
.coleccion-btn, .peliculas-btn,
.signin-btn{
    margin-top: 1rem;
    padding: 1rem 1.6rem;
    
    color: white;
    background-color: rgb(83, 50, 212, 0.7); 
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 6px;
    transition: all 300ms ease-in-out;
}
.hero-btn2{
    background-color: rgba(0, 0, 0, 0.7);
}

.hero-btn1:hover,.hero-btn2:hover, 
.coleccion-btn:hover, .peliculas-btn:hover,
.login-btn:hover,.signin-btn:hover{
    background-color: transparent;
    transform: scale(0.97);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.25);
    text-shadow: 0px 0px 10px rgb(102, 31, 41); 
}









/* (3) PELICULAS  &  (4) aclamadas */

.peliculas,
.aclamadas{
    margin: 4rem 12%; /*margen 12% en costados */
    /* otra forma de hacerlo:
    width: 76%;
    margin: 4rem auto; */
    position: relative;

    display: flex;
    flex-direction: column; /* la lista debajo del título, alineados en columna */
    align-items: center; /* centrados horizontalmente */
    justify-content: center; /*centrados verticalmente */
    gap: 1rem;     
}

/*linea separadora */
.peliculas{
    padding-bottom: 10rem; /*distancia con linea separadora */
    position: relative;
    border-bottom: 10px;
}
.peliculas::after {
    content: ''; /* Obligatorio para pseudo-elementos */
    position: absolute; /* Para posicionar relativo al contenedor */
    bottom: 0; /* Lo posiciona al final del contenedor */
    left: 50%; /* Lo posiciona al centro del contenedor */
    transform: translateX(-50%); /* Lo mueve a la izquierda para centrarlo */
    width: 60%; /* Ancho de la línea */
    height: 1.5px; /* Grosor de la línea */
    background-color: var(--color-blue); /* Color de la línea */
}

.aclamadas{
    margin-bottom: 8rem;
}

.peliculas-header,
.aclamadas-header{
    padding: 2rem 1rem; 
    margin-bottom: 1.5rem;
}

.peliculas-title,
.aclamadas-title{
    font-size: 3.7rem;
    text-transform: capitalize;
}


/* CARROUSEL */
.carrousel-container{
    width: 100%; /* ancho total del padre .aclamadas con margen 15% horizontal */
    display: flex; 
    flex-direction: column;
    margin: 2rem;
}

.carrousel-header{
    margin-bottom: 1rem;
}
.carrousel-title{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}
.carrousel-title .destacado {
    background-color: var(--color-blue);
    padding: 0 0.8rem;
    border-radius: 2px;
}



/* LISTAS */
.peliculas-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.7rem; /* 6rem*/
}

.aclamadas-container{
    width: 100%; /* ancho total del padre .aclamadas con margen 15% horizontal */
    display: flex; /*necesito que sea flexible para darle propiedad overflow */
    overflow-x: auto; /*aparece barra de scroll en todo lo que sobresale (eje horizontal en este caso) */
    padding-bottom: 1.5rem; /*espacio de barra scroll inferior */
}

.aclamadas-list{
    display: flex;
    flex-direction: row; /*películas en misma fila */
    align-items: flex-start; /*centrado vertical, así queda espacio abajo hasta barra scroll */
    gap: 1rem;        /* distancia entre películas */
}

.peliculas-item,
.aclamadas-item{
    position: relative; /*para posicionar el título con absolute */
    margin-bottom: 1rem;
    width: 19rem; /*20*/
    height: 27.8rem;    
    border-radius:1rem;
    overflow: hidden; /*oculta imagen que sobresale al hacer hover */  

}

.aclamadas-item{
    width: 16.5rem;
    height: 24.5rem;
}

.peliculas-img,
.aclamadas-img{
    width: 100%;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.peliculas-img-link:hover .peliculas-img,
.aclamadas-img-link:hover .aclamadas-img{
    transform: scale(1.05);
}

.peliculas-texto,
.aclamadas-texto{
    visibility: hidden;
    width: 100%; /*ancho del padre: peliculas-item */
    height: fit-content;
    padding: 1rem 0; 
    
    position: absolute;
    bottom: 0rem;
    
    background-color: rgba(24, 20, 25, 0.76); /*#181419a8; */   
    transition: all 250ms ease-in-out;
}

.peliculas-texto h3,
.aclamadas-texto h3{
    color: var(--color-secondary);
    text-align: center;
    text-shadow: 1px 1px 3px #181419;
}

.peliculas-img-link:hover .peliculas-texto,
.aclamadas-img-link:hover .aclamadas-texto{
    visibility: visible;
}






/* --- ESTILOS DEL SCROLL -- */

/* SCROLLBAR: elemento que envuelve al conjunto */
::-webkit-scrollbar{
    height: 12px; /*scroll horizontal de peliculas */ 
    width: 12px; /*scroll vertical de la página web */
}

/* TRACK: el carril, caja de la barra */
::-webkit-scrollbar-track{
    background-color: rgb(11, 9, 12);
    border-radius: 10px; 
}

/* THUMB: la barra en sí misma */
::-webkit-scrollbar-thumb{
    background-color: var(--color-search);
    box-shadow: inset 0px 0 0 3px rgba(0, 0, 0, 0.11); 
    border-radius: 10px; 
}




/* PELICUAS COLECCION */
.peliculas-coleccion, .series-coleccion{
    width: 100%;
    border-radius: 1rem;
    margin: 6rem 0;
    padding: 5rem 2rem;
    background-image: -webkit-linear-gradient(left top, rgb(11, 203, 254, 0.1), rgb(64, 123, 254, 0.3), rgb(89, 29, 200, 0.2)),
                      -webkit-linear-gradient(left bottom, rgb(7, 17, 23, 0.9), rgba(8, 16, 55, 0.6), rgba(8, 10, 21, 0.9)),
                      url("../assets/img/coleccion-pelicula4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.series-coleccion{
    background-image: -webkit-linear-gradient(left top, rgb(11, 203, 254, 0.1), rgb(64, 123, 254, 0.3), rgb(89, 29, 200, 0.2)),
                      -webkit-linear-gradient(left bottom, rgb(7, 17, 23, 0.9), rgba(7, 12, 40, 0.5), rgba(8, 10, 21, 0.9)),
                      url("../assets/img/coleccion-serie2.jpg");
}

.coleccion-title{
    font-size: 3rem;
}

.coleccion-btn{
    width: fit-content;
    margin-top: 2rem;
    background-color: rgba(0, 15, 28, 0.6);
}


/* BOTONES peliculas*/
.peliculas-btn-container{
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}

.peliculas-btn {
    /* padding: 0 1rem; */
    font-size: 2rem;
}






/* (5) FOOTER */
.footer{
    background: linear-gradient(to right, rgb(11, 203, 254),  rgb(64, 123, 254), rgb(93, 81, 254), rgb(93, 81, 254), rgb(89, 29, 200));
    height: 15vh;
}


.footer-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 0;
}

.footer-item{
    margin: 0 0.7rem; 
} 

.footer-link{   
    min-width: 4rem;
    display: flex;
    justify-content: center;

    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0.9rem 1.5rem;
    border-radius: 10%;  /*5px; */
    transition:  all 250ms ease-in-out;  
    
    &#administrador{
        border-radius: 5px;
        font-size: 1.2rem;
        margin-left: 1rem;
        background-color: var(--color-background);
    }
}

.footer-item:hover .footer-link{  
    box-shadow: 0px 0px 10px rgb(0,0,0,0.4);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.61);
    &#administrador{
        background-color: transparent;
    }
} 


/* FOOTER INFERIOR */
.footer__description{
    padding: 1.03rem;
    color: var(--color-principal);
}

.footer__text{
    width: 100%;
    margin: 0 auto; /*centrar horizontalmente */
    text-align: center; /* el contenedor estaba centrado pero ahora centro e txt dentro del contenedor */
    font-size: 1.3rem;
}


/* FOOTER- ICONO SUBIR */
.footer-subir{
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
}

.footer-icon{
    color: black;
    font-size: 3.5rem;
    transition: all 200ms ease-in-out;
}

.footer-subir-link:hover .footer-icon{
    /* color: rgba(244, 237, 251, 0.56); */
    color: rgb(83, 50, 212);
    background-color: transparent;   
} 








/* --- ESTILOS DE PÁGINA: LOGIN SIGNIN --- */
/* ----------------------------------------*/

.login-body,
.signin-body{
    background-image: -webkit-linear-gradient(left, rgba(46, 45, 45, 0.5) , rgba(46, 45, 45, 0.3) ), url("../assets/img/hero.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}


/* LOGIN & SIGNIN - HEADER */
.header-login,
.header-signin{
    height: 13vh;
    top: 0;
    display: flex;
    align-items: center; /*centrado vertical del logo */
    background-color: transparent; 
}


/* --Formulario-- */

/* CONTENEDOR FORMULARIO*/
.login-container,
.signin-container{
    width: 40rem;
    margin: 12rem auto 0rem;
    padding: 2rem; 
    
    display: flex;
    justify-content: center;
    background-color: rgba(29, 28, 32, 0.68);
}

.signin-container{
    width: 70rem;
    height: fit-content;
}

/* FORMULARIO */
.login-form,
.signin-form{
    width: 80%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.login-form{
    padding: 6rem 0 3rem;
}

form h2{
    width: 100%;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.login-form input:not(.check, .login-btn),
.signin-form input:not(.check, .signin-btn),
.signin-form select{  
    width: 25rem;
    height: 3.5rem; 
    padding: 0 2rem; 
    font-size: 1.6rem;
    font-weight: 300;

    border: 1px solid var(--color-primary);
    border-radius: 1.5rem;
    background-color: var(--color-input);
    color: rgb(217, 217, 217); 
}


::placeholder{
    /* color del placeholder */
    color: #7e7d7d; 
}

/* icono de input date de color gris (no negro) */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(237deg) brightness(102%) contrast(98%);
}

#pais{
    /* Ocultar icono de select porque se ve desfazado*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
        
    /* Agregar icono con estilo personalizado */
    background-image: url('../assets/img/icono-form-select.png');
    background-repeat: no-repeat;
    background-position: right 1.8rem center; 
    background-size: 25px 25px;
}

.login-remember,
.signin-legal{
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.signin-legal{
    width: 100%;
}

.login-remember .check,
.login-remember .check-txt,
.signin-legal .check,
.signin-legal .check-txt{
    width: auto;
    font-size: 1.2rem;
    font-weight: 400;
}

.signin-btn-container,
.signin-help-container{
    width: 100%;
}

.login-btn,
.signin-btn{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 2rem;
    border: 0; 
}


.login-forget,
.login-register,
.signin-help{
    width: fit-content;
    margin: 0 auto; /*centrar enlaces horizontalmente */
    
    color: #dfd1d1e4;
    text-align: center;
    padding: 0.9rem 1.1rem;
    border-radius: 5px;
    transition:  all 250ms ease-in-out; 
}

.login-forget{
    width: 80%;
    margin-top: -1rem;
}
.login-register{
    width: 80%;
    margin-top: -2.5rem;
}

.login-forget:hover,
.login-register:hover,
.signin-help:hover{
    box-shadow: 0px 0px 30px rgb(0,0,0,0.4), 0px 0px 10px rgba(236, 233, 233, 0.135);
    transform: scale(0.97);
}










